.detalhes {
    padding: 40px;
    max-width: 960px;
    margin: auto;
}

.detalhes_container {
    display: flex;
    gap: 32px;
    background-color: #1f1f1f;
    padding: 24px;
    border-radius: 8px;
}

.detalhes_image {
    width: 300px;
    height: 400px;
    border-radius: 8px;
    object-fit: cover;
}

.detalhes_info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.detalhes_info h2 {
    font-size: 1.8rem;
    margin-bottom: 16px;
    color: #e50914
}

.detalhes_info p {
    font-size: 1.05rem;
    line-height: 1.6;
    color: #ddd;
}

.detalhes_voltar {
    display: block;
    text-align: right;
    margin-bottom: 24px;    
    color: #e50914;
    font-weight: 500;
}