.header {
    background-color: #1f1f1f;
    padding: 1rem 2rem;
}

.header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_logo a{
    color: #e50914;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5rem;
}

.header_nav a {
    color: #ccc;
    text-decoration: none;
    margin-left: 1rem;
}

.header_nav a:hover {
    color: #e50914;
}